<div class="p-6 border border-swear-gray bg-swear-black shadow-inner">
    <h3 class="font-stencil uppercase text-xl mb-4">BOOKING & CONTACT</h3>
    <ul class="font-mono text-sm space-y-2 text-concrete">
        <li>Columbus, Ohio</li>
        <li>Email: <a href="mailto:swear.digital@gmail.com" class="text-white hover:text-accent">swear.digital@gmail.com</a></li>
        <li>Phone: <a href="tel:7409197422" class="text-white hover:text-accent">740 919 7422</a></li>
        <li>Instagram: <a href="https://instagram.com/swearmedia" target="_blank" class="text-white hover:text-accent">@swearmedia</a></li>
    </ul>
</div>